

body {
    font-family: 'Georgia', sans-serif !important;
}

.cs-w-logo {
    width: 90px !important;
}

.cs-transition {
    transition: .5s !important;
}

.cs-carousel-image {
  width: 100% !important;
  height: 400px !important; /* Set a fixed height */
  object-fit: cover !important; /* Ensures images fill the space nicely */
}

/*Backgrounds*/
.cs-bg-navbar {
    background-color:#ffffffdc !important;
}

.cs-bg-one {
    background-color: #201445 !important;
}

.cs-bg-two {
    background-color: #f5efeb !important;
}

.cs-bg-badge {
    background-color: #f5efeb !important;
}

/*Font*/
.cs-tc-one {
    color: #b49d8e !important;
}

.cs-tc-two {
    color: #9484c6 !important;
}

/*Buttons*/
.cs-btn {
    background-color: #4b2aad !important;
}

.cs-btn:hover {
    background-color: #9484c6 !important;
}

.cs-link {
    color: #201445 !important;
}

.cs-link-two {
    color: #b49d8e !important;    
}

.cs-link:hover, .cs-link-two:hover {
    color: #4b2aad !important;
}
